{#
/**
 * @file
 * Newsletter signup form
 *
 * Variables:
 * - form: Form object
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{{ form.intro }}
{{ form.fields }}

{{ form.submit }}